
<div>
  <%= link_to 'Edit', edit_place_path(@place) %> |
  <%= link_to 'Back', places_path %>
</div>

<h1> 
  <%= @place.title %> 
</h1>

<p>
  <strong>
    <%= @place.description %>
  </strong>
</p>

<p>
  <strong>
    <%= @place.address %>
  </strong>
</p>

<p>
  <%= image_tag @place.image.url %>
</p>

<hr/>
<h3>Comentarios</h3>

<%= render 'comments/form' %>

<ul id='comments'>
  <%= render @place.comments %>
</ul>
